@import "variables";

.card-cancel-button {
  background-color: $bgColor;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;

  &:hover {
    background-color: #da190b8e;
  }
}
