<input id="meu-input" [value]="inputText" [type]="inputType" [disabled]="isDisabled" (input)="handleEventInput($event)" />

<br>

<button (click)="enableInput()">Habilitar</button>
<button (click)="disableInput()">Desabilitar</button>

<br>

<button (click)="setPasswordTypeInput()">Password</button>
<button (click)="setTextTypeInput()">Text</button>

<br>

<button (click)="logInputText()">Log Input Text</button>

<br>

<!-- exemplo com property binding -->
<p [textContent]="nome"></p>

<!-- exemplo com interpolação -->
<p>{{ nome }} (com interpolação)</p>

<h3>Attribute Binding</h3>

<button [attr.title]="buttonTitle">Teste</button>
