.card-button {
  background-color: #4caf50;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;

  &:hover {
    background-color: #45a049;
  }
}
